Django==1.8
dowel==0.0.3
garage @git+https://github.com/Indoril007/garage.git@james
-e git+https://github.com/nottombrown/rl-teacher.git@b2c2201e9d2457b13185424a19da7209364f23df#egg=rl_teacher
-e git+https://github.com/nottombrown/rl-teacher.git@b2c2201e9d2457b13185424a19da7209364f23df#egg=human_feedback_api&subdirectory=human-feedback-api
-e git+https://github.com/Indoril007/safety-gym.git@james#egg=safety_gym
mujoco_py==2.0.2.7

